<?xml version="1.0" encoding="utf-8"?>
<root>
  <Layer note = '第一层, 层中Canvas按照原始面积大小从大到小，从下层到上上层排序'>
    <Canvas x ='0'  y ='0' width = '800' height = '400' sel ='0' note ='' fixed ='1' img_path = 'ya.jpg' order = '0'></Canvas >
    <Canvas x ='430'  y ='300' width = '50' height = '84'  sel ='0' note ='' fixed ='0' img_path = 'ya43.png' order = '2'>
      <oper mark ='区域隐藏, threshold为区域隐藏大小百分比' threshold='70' >
        0
      </oper>
      <oper mark ='区域涂色' mode ='1' threshold='70'>
        1
      </oper>
      <oper mark ='文字标注' note =' '>
        2
      </oper>
      <oper mark ='区域涂色, 将某张图标映射到底部图层' img_path =' ' rect_left =' ' rect_right =' ' rect_top =' ' rect_botton =' '>
        3
      </oper>
      <oper mark ='区域替换' img_path =' ' rect_left =' ' rect_right =' ' rect_top =' ' rect_botton =' '>
        4
      </oper>
    </Canvas >

    <Canvas x ='530' y ='300' width = '50' height = '84'  sel ='0' note ='' fixed ='0' img_path = 'ya53.png' order = '1'></Canvas >
    <Canvas x ='630' y ='300' width = '50' height = '84'  sel ='0' note ='' fixed ='0' img_path = 'ya63.png' order = '4'></Canvas >
    <Canvas x ='730' y ='300' width = '50' height = '84'  sel ='0' note ='' fixed ='0' img_path = 'ya73.png' order = '3'></Canvas >
  </Layer>

  <Layer note = '第二层'>
  </Layer>
</root>